@*
<link href="@Url.Content("~/Content/Heart.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/vitamins2.css")" rel="stylesheet" type="text/css">  *@  
@model  VitaminsCom.MVC.Models.EmailModel

 <div id="pagecontainer">
	<div id="pagewrapper">
<div class="thankyouwindow">
<br /><p class="lgwhitetext">
Thank You!</p>
<br /><br />
<p  class="medwhitetext">
You're on your way to good health!<br /><br />

Check your inbox for your free guide 
and special coupon.
</p>


     </div>
</div>
</div> 
