
<link href="/content/Home.css" rel="stylesheet" type="text/css">
<link href="/content/vitamins2.css" rel="stylesheet" type="text/css">
<div id="pagecontainer">
	<div id="pagewrapper">
		<h1 class="header homeheader">
			Guides &amp; Coupons <span>Absolutely FREE!</span></h1>
		<p class="homeintrotext">
			Welcome to Vitamins.com, where your health matters! Get a free informative health
			guide that talks about the supplements and nutrients important to your health. This
			information, provided by leading industry experts and nutritionists, gives you the
			tools you need to make informed decisions about the supplements that support your
			health.</p>
		<a href="@Url.Action("Joint")">
			<img src="@Url.Content("~/Images/HOME_button_joint.jpg")" class="homejointbtn" height="101" width="382" /></a>
		<br class="clear">
		<a href="@Url.Action("Heart")">
			<img src="@Url.Content("~/Images/HOME_button_heart.jpg")" class="homeheartbtn" height="101" width="382" /></a>
	</div>
</div>
